<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zqhy.app.newproject">

    <uses-permission android:name="android.permission.CAMERA" tools:node="remove" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:node="remove" />
    <!--允许程序访问网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序安装应用-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--允许程序改变WiFi状态-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 允许程序访问日历 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <!--存储卡权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <!--允许应用将任务移动到前台和后台-->
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:node="remove" />

    <application
        android:name="com.box.main.App"
        android:allowBackup="false"
        android:allowNativeHeapPointerTagging="false"
        android:exported="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/mod_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.BOX"
        android:usesCleartextTraffic="true"
        tools:replace="android:label,android:allowBackup,android:icon,android:theme"
        tools:targetApi="r">

        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.box.main.ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.BOX"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 适配全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />


        <!--联通电信授权页-->
        <!--如果不需要使用窗口模式，不要使用authsdk_activity_dialog主题，会出现异常动画-->
        <!--如果需要使用authsdk_activity_dialog主题，则screenOrientation一定不能指定明确的方向，
               比如portrait、sensorPortrait，在8.0的系统上不允许窗口模式指定orientation，会发生crash，需要指定为behind，
               然后在授权页的前一个页面指定具体的orientation-->
        <activity
            android:name="com.mobile.auth.gatewayauth.LoginAuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/authsdk_activity_dialog" />
        <!--协议页面webview-->
        <activity
            android:name="com.mobile.auth.gatewayauth.activity.AuthWebVeiwActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind" />



        <!-- 第三方配置 End -->

        <!-- 云游id-->
        <!--<meta-data
            android:name="VOLC_ACCOUNT_ID"
            android:value="" />


        &lt;!&ndash; 网易云信后台服务，请使用独立进程。&ndash;&gt;
        <service
            android:name="com.netease.nimlib.service.NimService"
            android:process=":core"/>

        &lt;!&ndash; 网易云信后台辅助服务 &ndash;&gt;
        <service
            android:name="com.netease.nimlib.job.NIMJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":core"/>

        &lt;!&ndash; 网易云信监视系统启动和网络变化的广播接收器，保持和 NimService 同一进程 &ndash;&gt;
        <receiver android:name="com.netease.nimlib.service.NimReceiver"
            tools:node="remove"
            android:process=":core"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        &lt;!&ndash; 网易云信进程间通信 Receiver &ndash;&gt;
        <receiver android:name="com.netease.nimlib.service.ResponseReceiver"/>

        &lt;!&ndash; 网易云信进程间通信 service &ndash;&gt;
        <service android:name="com.netease.nimlib.service.ResponseService"/>

        &lt;!&ndash; 网易云信进程间通信 provider &ndash;&gt;
        <provider
            android:name="com.netease.nimlib.ipc.NIMContentProvider"
            android:authorities="${applicationId}.ipc.provider"
            android:exported="false"
            android:process=":core" />
        &lt;!&ndash; 网易云信内部使用的进程间通信 provider &ndash;&gt;
        &lt;!&ndash; SDK 启动时会强制检测该组件的声明是否配置正确，如果检测到该声明不正确，SDK 会主动抛出异常引发崩溃 &ndash;&gt;
        <provider
            android:name="com.netease.nimlib.ipc.cp.provider.PreferenceContentProvider"
            android:authorities="${applicationId}.ipc.provider.preference"
            android:exported="false" />-->

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>

</manifest>